a {
	cursor: pointer;
}

.bb {
	background: white;
	border: 2px solid black;
	color: white;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	text-align: center;
	width: 1000px;
}

.bb a {
	color: black;
}

.bb_board {
	background: #274E13;
	min-height: 200px;
	padding: 5px;
}

.bb_frame {
	background: #E69138;
	border: 2px solid black;
	padding: 5px;
	text-align: left;
}

.bb_frame input {
	color: black;
}

.bb td {
	width: 33%;
	vertical-align: top;
}

.bb_title {
	border: 2px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: black;
	display: inline-block;
	font-size: 14pt;
	margin-bottom: 2px;
	padding: 2px 10px;
}

body {
	width: 100%;
	height: 100%;
}
.form_label {
	white-space: nowrap;
}

.modal {
	overflow: auto;
}

.modal-dialog {
	max-width: min(100%, 1024px);
}

.tab-content {
	overflow: visible !important;
}

form, input, select, .table {
	margin-bottom: 0 !important;
}

div.checkbox {
	padding-top: 0 !important;
}

@import "../../modules/calendar/css/calendar";

.peak {
	background-color: #96DC9F !important;
	vertical-align: top;
}

@import "../../core/app/css/tags";

@import "../../modules/social/css/news";

@import "../../core/web/css/form";

select {
	width: initial;
}

.tagify__dropdown {
	z-index: 2000;
}